.bar
{
    fill: #8A0707;
}
.hover_bar{
    fill: none;
}
.group_label{
    font-size: 14px;
    font-weight: bold;
}
.Average_tick{
    font-weight: bold;
}
@media (min-width: 10px) {
    .axis text{
        font-family: 'Arial';
        font-size: 10px;
    }
}
@media (min-width: 400px) {
    .axis text{
        font-family: 'Arial';
        font-size: 10px;
    }
}
.change_button_row{
    text-align: center;
    padding-top: 10px;
}