.bar
{
    fill: #8A0707;
}

@media (min-width: 10px) {
    .axis text{
        font-family: 'Arial';
        font-size: 10px;
    }
}
@media (min-width: 400px) {
    .axis text{
        font-family: 'Arial';
        font-size: 13px;
    }
}